[submodule "ECKey"]
	path = ECKey
	url = git@github.com:CryptoCoinSwift/ECKey.git
[submodule "RIPEMD-Swift"]
	path = RIPEMD-Swift
	url = git@github.com:CryptoCoinSwift/RIPEMD-Swift.git
[submodule "SHA256-Swift"]
	path = SHA256-Swift
	url = git@github.com:CryptoCoinSwift/SHA256-Swift.git
